name: Deploy Static Website to S3

on:
  push:
    branches:
      - main  # or your deployment branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Log in to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Create the group and give access to the group
      run: |
        sudo usermod -aG docker $USER

    - name: Build, tag, and push image to ECR
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker build -t 287767576128.dkr.ecr.us-east-1.amazonaws.com/ecs-project:$IMAGE_TAG .
        docker push 287767576128.dkr.ecr.us-east-1.amazonaws.com/ecs-project:$IMAGE_TAG

    - name: Deploy to ECS
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: PG-Project.JSON
        service: PG-Project-service-02o09f03
        cluster: pleasant-zebra-yl9w4s
        wait-for-service-stability: true
